.row{
    margin-left: 20px;
    scroll-behavior: smooth;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    /* tell all the bowsers to hide scrollbar, but keep functionality of it */
    display: none;
}

.row__poster {
    object-fit: contain;
    /* overflow: hidden; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    transition: transform 450ms;
}


.row__poster:hover {
    /* transform: scale(1.08); */
    transform: translateY(-7px);
    /* opacity: 1; */
}